:root {
  background-color: #0e0e0e;
  --primary-color: rgba(28, 28, 30);
  --secondary-color: rgba(28, 28, 30, 0.8);
  --text-color: #ffffff;
  --spotify-color: #1db954;
  --error-color: #ff1744;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "ProductSans-Regular";
  src: local("ProductSans-Regular"),
    url("./assets/fonts/Circular/ProductSans-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "ProductSans-Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
