:root {
  background-color: #0e0e0e;
}

@font-face {
  font-family: "ProductSans-Bold";
  src: local("ProductSans-Bold"), url("./assets/fonts/Circular/ProductSans-Bold.ttf")
    format("truetype");
}

body {
  margin: 0;
  font-family: 'ProductSans-Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
