.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .homePageContainer {
    width: 100%;
  }
}

.homePageBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
