.albumImage {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.albumInfoText {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.albumCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  background-color: rgba(28, 28, 30);
  border: 2rem solid rgba(28, 28, 30);
  width: 25rem;
  box-sizing: border-box;
}
