.artistPageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 2rem;
  margin-top: 2rem;
}

.artistNameTitle {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.artistTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 2rem;
  justify-content: center;
}

.artistProfileImage {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.artistDetails {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
