.subtitle {
  color: #0badfe;
  padding-top: 6.5rem;
  font-size: 2rem;
  font-weight: 200;
}

.title {
  color: var(--text-color);
  font-size: 8rem;
  line-height: 10rem;
  padding-top: 3rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  text-align: center;
  gap: 0rem;
}

@media screen and (max-width: 767px) {
  .titleContainer {
    width: 100%;
  }

  .title {
    font-size: 4rem;
    line-height: 6rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
